**/__pycache__
**/build
.coverage

Communication/.DS_Store

Perception/.DS_Store

Perception/EfficientDet/.DS_Store

Perception/EfficientDet/yolo_cones/.DS_Store

SLAM/.DS_Store

SLAM/communication/.DS_Store

Perception/simgle_camera_depth_estimation/controllers/camera_controller/images/

Perception/simgle_camera_depth_estimation/.ipynb_checkpoints/
