**/__pycache__
**/build
.coverage

Communication/.DS_Store

Perception/.DS_Store

Perception/EfficientDet/.DS_Store

Perception/EfficientDet/yolo_cones/.DS_Store

SLAM/.DS_Store

SLAM/communication/.DS_Store

.vscode